/* start */

:root{
    --page-width: 8.5in;
    --page-height:11in;
    --left-width: calc(var(--page-width) * (2/3))
}

/* Name Section */
.top-section{
    width: var(--page-width);
    height:1in;
    text-align: center;
    background-color: aliceblue;

}
.top_name{
    font-size: 30pt;
}

.top_job{
    color: blue;
}


.main-content{
    width:var(--page-width)
}

.left-column{
    width:var(--left-width)
}
.professional-summary_p{
    font-size: 11pt;
}