@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
/* :root {
    --primary-color: #fff752;
    --text-color: #000000;

} */
/* body {
	font-family: Inter, sans-serif;
	background-color: beige;
	color: black;
} */
/* Profile */
/* .profile_container{
    display: flex;
    gap: 2rem;
} */
/* .profile_profileimg{
    max-width: 50px;
    max-height: 50px;
} */
